<form method="post" action="{{ path('game_platform_delete', {'id': game_platform.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ game_platform.id) }}">
    <button class="btn">Delete</button>
</form>
