{% extends 'base.html.twig' %}

{% block title %}Plateforme{% endblock %}

{% block body %}
    <h1>Liste des plateformes</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom de la plateforme</th>
                <th>ID IGDB</th>
            </tr>
        </thead>
        <tbody>
        {% for game_platform in game_platforms %}
            <tr>
                <td>{{ game_platform.name }}</td>
                <td>{{ game_platform.IgdbID }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('game_platform_add') }}">Ajouter une plateforme</a>
{% endblock %}
