
###> symfony/framework-bundle ###
/.env.local
/.env
/.php-version
/.env.local.php
/.env.*.local
/.htaccess
public/.htaccess
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/public/image/manga
/public/image/serie
/public/image/movie
/public/image/game
/var/
/vendor/
/.idea/
/templates/base.html copy.twig
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###

###> phpstan/phpstan ###
phpstan.neon
###< phpstan/phpstan ###
