{% extends 'base.html.twig' %}

{% block title %}Liste des musiques{% endblock %}

{% block body %}
    <h1 class="d-inline">Liste des musiques</h1>

    <div id="searchDiv" class="mt-4 ms-2">
        <label class="col-12">Recherche</label>
        <div class="d-flex flex-row">
            <input id="search" type="text" class="form-control me-2" onkeyup="search()">
        </div>
    </div>


    <div id="musicList" class="col-12 d-flex flex-row justify-content-between flex-wrap">

    </div>
    <div id="loadSpin" class="col-12 d-flex flex-row h-75">
        <div class="card-body py-1 py-lg-0 h-100">
            <div class="d-flex justify-content-center align-items-center h-100">
                <div class="spinner-border" role="status">
                    <span class="sr-only"></span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script>

        $.ajax({
            url: "{{ path('music_list') }}",
            method: "POST",
            success: function (data) {
                $("#musicList").html(data);
                $('#loadSpin').addClass('d-none');
            }
        })

        function search() {

            const text = $('#search').val();

            console.log(text);

            $.ajax({
                url: "{{ path('music_list') }}",
                method: "POST",
                data: {
                    'text': text,
                },
                success: function (data) {
                    $("#musicList").html(data);
                    $('#loadSpin').addClass('d-none');
                }
            })
        }

        function openDetail(href) {
            window.location = href;
        }

    </script>
{% endblock %}
