{% for music in musics %}
    {% set image = infoImageMusic(music, app.environment) %}
    <div class="cursor-click container col-lg-2 col-4 px-3 my-4 d-flex flex-column"
         onclick="openDetail('{{ path('music_details', {'id': music.id}) }}')">
        <img class="rounded mx-auto d-block" src="{{ image.path }}" width="150px" alt="{{ image.alt }}">
        <p class="text-center">{{ music.name }}</p>
    </div>
{% endfor %}
