{% extends 'base.html.twig' %}

{% block title %}New GamePublishers{% endblock %}

{% block body %}

    <div class="card">
        {{ form_start(form) }}
        {{ form_end(form) }}
    </div>

    <a href="{{ path('game_publishers') }}">back to list</a>
{% endblock %}
