{% extends 'base.html.twig' %}

{% block title %}Liste des jeux{% endblock %}

{% block body %}
    <h1 class="d-inline">Liste des jeux</h1><a class="d-inline" href="{{ path('game_add') }}"><i class="material-icons">add_circle</i></a>

    <div class="mt-3">
        <button class="btn btn-primary littleBtn my-1" onclick="gameList('name', 'ASC', 1)">Tout</button>
        <button class="btn btn-primary littleBtn my-1" onclick="gameList('name', 'ASC', 2)">Jeux pas commencé</button>
        <button class="btn btn-primary littleBtn my-1" onclick="gameList('name', 'ASC', 3)">Jeux en cours</button>
        <button class="btn btn-primary littleBtn my-1" onclick="gameList('name', 'ASC', 4)">Jeux terminé</button>
        <button class="btn btn-primary littleBtn my-1" onclick="gameList('name', 'ASC', 5)">Jeux terminés à 100%</button>
    </div>

    <table id="tableGame" class="table table-hover table-striped table-bordered tablesorter littleFont">
        <thead>
        <tr class="col-12">
            <th class="col-1"></th>
            <th class="col-1">Nom</th>
            <th class="col-1">Série</th>
            <th class="col-1">Sortie le :</th>
            <th class="col-1">Commencer le :</th>
            <th class="col-1">Fini le :</th>
            <th class="col-1">Fini en :</th>
            <th class="col-1">Fini à 100% le :</th>
            <th class="col-1">Fini à 100% en :</th>
        </tr>
        </thead>
        <tbody id="gameList" data-list="1">
        </tbody>
    </table>
    <div id="loadSpin" class="card-body py-1 py-lg-0">
        <div class="d-flex justify-content-center align-items-center">
            <div class="spinner-border" role="status">
                <span class="sr-only"></span>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script>

        $(document).ready(function () {

            gameList('name', 'ASC');
        })

        function gameList(sort = 'name', order = 'ASC', choice = null) {

            if (choice == null) {
                $('#gameList').attr('data-list');
            }

            $('#loadSpin').removeClass('d-none');
            $("#gameList").html('').attr('data-list', choice);
            $.ajax({
                url: "{{ path('game_list') }}",
                method: "POST",
                data: {
                    'choice': choice,
                    'sort': sort,
                    'order': order
                },
                success: function (data) {
                    $("#gameList").html(data);
                    $('#loadSpin').addClass('d-none');

                    $("#tableGame").trigger('update').tablesorter({'resort': true});
                }
            })
        }

    </script>
{% endblock %}
