{% extends 'base.html.twig' %}

{% block title %}Liste des jeux{% endblock %}

{% block body %}
    <h1>Liste des jeux</h1>

    <button class="btn btn-primary" onclick="gameList('name', 'ASC', 1)">Tout</button>
    <button class="btn btn-primary" onclick="gameList('name', 'ASC', 2)">Jeux pas commencé</button>
    <button class="btn btn-primary" onclick="gameList('name', 'ASC', 3)">Jeux en cours</button>
    <button class="btn btn-primary" onclick="gameList('name', 'ASC', 4)">Jeux terminé</button>

    <table id="tableGame" class="table tablesorter">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Série</th>
            <th>Sortie le :</th>
            <th>Commencer le :</th>
            <th>Fini le :</th>
            <th>Fini en :</th>
            <th>Fini à 100% le :</th>
            <th>Fini à 100% en :</th>
            <th>Suivit :</th>
        </tr>
        </thead>
        <tbody id="gameList" data-list="1">
        </tbody>
    </table>
    <div id="loadSpin" class="card-body py-1 py-lg-0">
        <div class="d-flex justify-content-center align-items-center">
            <div class="spinner-border" role="status">
                <span class="sr-only"></span>
            </div>
        </div>
    </div>

    <a class="btn btn-primary" href="{{ path('game_add') }}">Ajouter un jeu</a>
{% endblock %}

{% block javascript %}
    <script>

        $(document).ready(function (){

            gameList('name', 'ASC');
        })

        function gameList(sort = 'name', order = 'ASC', choice = null) {

            if(choice == null){
                $('#gameList').attr('data-list');
            }

            $('#loadSpin').removeClass('d-none');
            $("#gameList").html('').attr('data-list', choice);
            $.ajax({
                url: "{{ path('game_list') }}",
                method: "POST",
                data: {
                    'choice': choice,
                    'sort': sort,
                    'order': order
                },
                success: function (data) {
                    $("#gameList").html(data);
                    $('#loadSpin').addClass('d-none');

                    $("#tableGame").trigger('update').tablesorter({'resort': true});
                }
            })
        }

    </script>
{% endblock %}
