{% extends 'base.html.twig' %}

{% block title %}Liste des jeux{% endblock %}

{% block body %}
    <h1 class="d-inline">Liste des jeux</h1><a class="d-inline" href="{{ path('game_add') }}"><i class="material-icons">add_circle</i></a>

    <div id="searchDiv" class="mt-4 ms-2">
        <label class="col-12">Recherche</label>
        <div class="d-flex flex-row">
            <input id="search" type="text" class="form-control me-2" onkeyup="search()">
            <select id="gameStatus" onchange="search()" class="form-control">
                <option value="1">Tout</option>
                <option value="2">Jeux pas commencé</option>
                <option value="3">Jeux en cours</option>
                <option value="4">Jeux terminé</option>
                <option value="5">Jeux terminés à 100%</option>
            </select>
        </div>
    </div>


    <div id="gameList" class="col-12 d-flex flex-row justify-content-between flex-wrap">

    </div>
    <div id="loadSpin" class="col-12 d-flex flex-row h-75">
        <div class="card-body py-1 py-lg-0 h-100">
            <div class="d-flex justify-content-center align-items-center h-100">
                <div class="spinner-border" role="status">
                    <span class="sr-only"></span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script>

        $(document).ready(function () {

            search();

        })

        function openDetail(href) {
            window.location = href;
        }

        function search() {

            const choice = $('#gameStatus').find(":selected").val();
            const text = $('#search').val();

            $('#loadSpin').removeClass('d-none');
            $("#gameList").html('');
            $.ajax({
                url: "{{ path('game_list') }}",
                method: "POST",
                data: {
                    'choice': choice,
                    'text': text
                },
                success: function (data) {
                    $("#gameList").html(data);
                    $('#loadSpin').addClass('d-none');
                }
            })
        }

    </script>
{% endblock %}
