{% extends 'base.html.twig' %}

{% block title %}Liste des jeux{% endblock %}

{% block body %}
    <h1>Liste des jeux</h1>

    <button class="btn btn-primary" onclick="gameList(1)">Tout</button>
    <button class="btn btn-primary" onclick="gameList(2)">Jeux pas commencé</button>
    <button class="btn btn-primary" onclick="gameList(3)">Jeux en cours</button>
    <button class="btn btn-primary" onclick="gameList(4)">Jeux terminé</button>

    <table class="table">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Sortie le :</th>
            <th>Commencer le :</th>
            <th>Fini le :</th>
            <th>Fini en :</th>
            <th>Fini à 100% le :</th>
            <th>Fini à 100% en :</th>
            <th>Suivit :</th>
        </tr>
        </thead>
        <tbody id="gameList">
        </tbody>
    </table>
    <div id="loadSpin" class="card-body py-1 py-lg-0">
        <div class="d-flex justify-content-center align-items-center">
            <div class="spinner-border" role="status">
                <span class="sr-only"></span>
            </div>
        </div>
    </div>

    <a class="btn btn-primary" href="{{ path('game_add') }}">Ajouter un jeu</a>
{% endblock %}

{% block javascript %}
    <script>

        gameList(1);

        function gameList(choice) {
            $('#loadSpin').removeClass('d-none');
            $("#gameList").html('');
            $.ajax({
                url: "{{ path('game_list') }}",
                method: "POST",
                data: {
                  'choice': choice
                },
                success: function (data) {
                    $("#gameList").html(data);
                    $('#loadSpin').addClass('d-none');
                }
            })
        }

    </script>
{% endblock %}
