<form method="post" action="{{ path('game_developer_delete', {'id': game_developer.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ game_developer.id) }}">
    <button class="btn">Delete</button>
</form>
